<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.dropbox.com/s/kmy14cpnlaeygij/Fun%20English%2021.0.3.ipa?dl=1</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.ungdung.Funenglish</string>
				<key>bundle-version</key>
				<string>21.03</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>Funenglish</string>
				<key>title</key>
				<string>Funenglish</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
