<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://uc7b14263310a669af4411c6358e.dl.dropboxusercontent.com/cd/0/get/Au1ghASGwjhx4WViB44eocXhA31nSn6xAR4mPqWSWmHFDnH8y37wJY5ZD3ynqJO4MhTbhEzE3u7Arb0U8F9gvZYpCRzSTjJfnrg_3Rwg24f1sAwoDzjVyagHbEWNI2mDs68/file#
</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.game.inside</string>
				<key>bundle-version</key>
				<string>1.1</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>Deathcell</string>
				<key>title</key>
				<string>Deathcell</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
