<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.dropbox.com/s/608sq4mdo92z5an/Quantumult.X.1.0.3-ioscode.ipa?dl=1</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.crossutility.quantumult-x</string>
				<key>bundle-version</key>
				<string>1.0.3</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>41A472</string>
				<key>title</key>
				<string>Quantumult X | quantumultx@icloud.com</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
